<!doctype html>
<html>
    <head>
        <title>Curious Programmer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <nav class="page-header">
            <ul>
                <li class="page-header-link"><a href="{{ url_for('book_list') }}">Books</a></li>
                <li class="page-header-link"><a href="{{ url_for('authors') }}">Authors</a></li>
            </ul>
        </nav>

        <div class="page-title">
            <h1>Authors</h1>
        </div>

        <div>
            {% for book_id, details in books.items() %}
                <p>
                    <a href="{{ url_for('single_book', book_id=book_id) }}">
                    <h2 class="names">{{ details['author'] }}</h2>
                    <img src="{{ details['image'] }}" alt="{{ details['title'] }}">
                </a></p>
            {% endfor %}
        </div>

         <div class="footer"></div>
       
    </body>
</html>
