<!doctype html>
<html>

    <head>
        <title>Curious Programmer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>

    <body> 
        <nav class="page-header">
            <div class="header-items"><a href="{{ url_for('book_list') }}">Books</a></div>
            <div class="header-items"><a href="{{ url_for('authors') }}">Authors</a></div>
        </nav>

        <div class="box">
                <div></div>
        </div>
                    
        
   
        <div>
            <div class="highlight-single-book">
            
            <div class="display">
                <div class="single-book-contents"><img src="{{ book['image'] }}" alt="{{ book['title'] }}"></div>
                <div class="single-book-contents"><h2>{{ book['title'] }}</h2></div>

            </div>
            </div>

        </div>
    
    </body>
</html>


<!-- 

<div class='container'>

            
           
       
        <ul class='contents-container'>
            <li class="item image"><img src="{{ book['image'] }}" alt="{{ book['title'] }}"></li> 
            <li class="item title"><h2>{{ book['title'] }}</h2></li>
            <li class="item author">By: {{ book['author'] }}</li>
            <li class="item text"><br>{{ book['summary'] }}</li>

    </ul>
    </div> -->