<!doctype html>
<html>

    <head>
        <title>Curious Programmer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>

    <body> 
        <div class="page-header">
            <p class="nav-item">
                <a href="{{ url_for('book_list') }}">Books</a>
                <a href="{{ url_for('authors') }}">Authors</a>
            </p>
        </div>

        <div class='box'>
            
            {% for category, details in book.items() %}

            {% if category=='title' %}
            <h2 class="title">{{ book[category] }}</h2>

            {% elif category=='author' %}
            <h4 class="author">{{ book[category] }}</h4>
           
            {% elif category != 'image' %}
            <p class="text">{{ book[category] }}</p>
            
            {% else %}
            <img class="images" src="{{ book['image'] }}" alt="{{ book['title'] }}">
            
           
            {% endif %}
            {% endfor %}
        </div>
    
    </body>
</html>
