* {
    box-sizing: border-box;
}

/*index.html // all pages use these attributes */
.page-header {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #990E16;
}


.header-items {
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header-items a{
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

.header-items a:hover {
    text-decoration: underline;
    color: white;
}

.page-title {
    padding: 20px;
} 

.box {
    display: flex;
    flex-direction: column;
    background-color: #990E16;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 100px;
}

.homepage-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.homepage-summary {
    color: white;
    font-size: 20px;
}

.button a{
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

/*books.html */ 

.books-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px
}

.books a{
    color: #990E16;
    text-decoration: none;
}

.books a:hover{
    color: #990E16;
    text-decoration: underline;
}

.single-book-author {
    font-style: italic;
    color: #990E16;
}

.single-book-author a{
    text-decoration: none;
}

.single-book-author a:hover {
    text-decoration: underline;
}

.select-books {
    display: flex;
    flex-direction: column;
}

.filter-button {
    text-decoration: none;
    color: gray;
    font-size: 16px;
    text-align: center;
}

.sort-books {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
 
}

.sort-books a{
    text-decoration: none;
    color: navy;
    margin-right: 10px;
    text-decoration: none;
}


/*book.html*/
.single-book-box {
    background-color: #ddd;
    margin: 60px;
    padding: 100px; 
}

.single-book-display {
    display: flex;
}

.single-book-details {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #990E16;
}

.book-summary-text {
    font-size: 16px;
    color: black;
}

.single-book-title {
    color: #990E16;
}


/* authors.html */

/* New CSS for authors.html */
.select-authors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    color: black;
}

.sort-authors {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top: 8px;
}

.sort-authors a {
    text-decoration: none;
    font-size: 25px;
    color: navy;
    font-weight: bold;
    margin-right: 10px;
}

.sort-authors a:hover {
    text-decoration: underline;
    color: navy
}

/* End new CSS authors.html */



/* More authors.html css */
.author {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px

}

.name a {
    text-decoration: none;
    font-size: 25px;
    color: #990E16;
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
  
}

.name a:hover {
    text-decoration: underline;
    color: #990E16;
}

.book {
    padding-top: 10px;
    padding-left: 5px;
} 


/* category */
.single-category {
    display: flex;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;

}

.book-image {
    display: flex;
    justify-content: flex-end;
}

.category-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding-left: 1em;
}

.book-title {
    color: #990E16;    

}

.book-author {
    color: #990E16;    
    font-size: 20px;
}

.book-author a{
    color: #990E16;    
    font-size: 20px;
    text-decoration: none;
}

.book-author a:hover{
    text-decoration: underline;
}

.book-summary {
    font-size: 16px;
}


/* lists.html */

.categories {
    display: flex;
    flex-direction: column;
}

.category-title {
    display: flex;
    flex-direction: row;

}

.category-title a{
    color: #990E16; 
    text-decoration: none;
}

.category-title a:hover {
    color: #990E16; 
    text-decoration: underline;
}


/* author.html */

.container {
    background-color: #ddd;
    margin: 50px;
    padding: 75px;
}

.author-name {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.author_book {
    display: flex;
    flex-direction: row;
}

.book-image-author-page {
    display:flex;
}

.book-title {
    color: #990E16;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.book-title a {
    text-decoration: none;
    color: #990E16;
}

.book-title a:hover {
    color: #990E16;
    text-decoration: underline;
}

.text {
    font-size: 18px;
}


/*users*/

.filter-users {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    padding-top: 8px;
    line-height: .25px;
}

.sort-users {
    display: flex;
    flex-direction: row;
}

.sort-users a{ 
    text-decoration: none;
    font-size: 25px;
    color: navy;
    font-weight: bold;
}

.sort-users a:hover{
    text-decoration: underline;
    color: navy;
}

.users-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: .80px;
}

.user-name {
    text-decoration: none;
    color: #990E16; 
}

.user-name a{
    text-decoration: none;
    color: #990E16; 
}

.user-name a:hover {
    text-decoration: underline;
    color: #990E16; ;
}

.user-details {
    font-size: 18px;
}


/* user.html */

.container-user-name {
    background-color: #ddd;
    margin: 50px;
    padding: 75px;
    display: flex;
    flex-direction: column;
}

.category {
    font-size: 20px;
    font-weight: bold;
    line-height: .75;
}