* {
    box-sizing: border-box;
}

/*index.html // all pages use these attributes */
.page-header {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #990E16;
}


.header-items {
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.header-items a{
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

.header-items a:hover {
    text-decoration: underline;
    color: white;
}

.page-title {
    padding: 20px;
} 

.box {
    display: flex;
    flex-direction: column;
    background-color: #990E16;
    justify-content: center;
    align-items: center;
    margin: 60px;
    padding: 100px;
}

.homepage-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.homepage-summary {
    color: white;
    font-size: 20px;
}

.button a{
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

/*books.html */ 

.books-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px
}

.books {
    display: flex;
    flex-direction: column;
}

.books a{
    color: #990E16;
    text-decoration: none;
}

.books a:hover{
    color: #990E16;
    text-decoration: underline;
}


/*book.html*/
.single-book-box {
    background-color: #ddd;
    margin: 60px;
    padding: 100px;
}

.single-book-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.single-book-details {
    display: flex;
    flex-direction: column;
}



/* authors.html */
.author {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px

}

.name a {
    text-decoration: none;
    font-size: 25px;
    color: #990E16;
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
  
}

.name a:hover {
    text-decoration: underline;
    color: #990E16;
}

.book {
    padding-top: 10px;
    padding-left: 5px;
} 



/*single_book.html */



.display-single-book-contents {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 2em;
    padding:5px;
}

.single-book-title {
    color: #990E16;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.single-book-author {
    font-size: 20px;
    color: #990E16;
}

.single-book-summary {
    font-size: 16px;
}

.space {
    margin: 20px;
}


/* category */
.single-category {
    display: flex;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;

}

.book-image {
    display: flex;
    justify-content: flex-end;
}

.category-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding-left: 1em;
}

.book-title {
    color: #990E16;    

}

.book-author {
    color: #990E16;    
    font-size: 20px;
}

.book-author a{
    color: #990E16;    
    font-size: 20px;
    text-decoration: none;
}

.book-author a:hover{
    text-decoration: underline;
}

.book-summary {
    font-size: 16px;
}


/* lists.html */

.categories {
    display: flex;
    flex-direction: column;
}

.category-title {
    display: flex;
    flex-direction: row;

}

.category-title a{
    color: #990E16; 
    text-decoration: none;
}

.category-title a:hover {
    color: #990E16; 
    text-decoration: underline;
}


/* author.html */

.container {
    background-color: #ddd;
    margin: 50px;
    padding: 75px;
}

.author-name {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.author_book {
    display: flex;
    flex-direction: row;
}

.book-image-author-page {
    display:flex;
}

.book-title {
    color: #990E16;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.book-title a {
    text-decoration: none;
    color: #990E16;
}

.book-title a:hover {
    color: #990E16;
    text-decoration: underline;
}

.text {
    font-size: 18px;
}


/*users*/

.users {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px
}

.user-name {
    color: #990E16;
    font-size: 25px;
    font-weight: bold;
    line-height: 0px;
}

.user-name a {
    color: #990E16; 
    text-decoration: none;
}

.user-name a:hover {
    color: #990E16; 
    text-decoration: underline;
}

.basic-user-info {
    font-size: 16px;
}


/* user.html */

.container-user-name {
    background-color: #ddd;
    margin: 50px;
    padding: 75px;
    display: flex;
    flex-direction: column;
}

.book-image {
    align-self: center;
}

.username {
    color: #990E16; 
}

.basic-user-info {
    list-style: none;
    line-height: 1.75;
    font-size: 18px;
    font-size: 16;
}