<!doctype html>
<html>

    <head>
        <title>Curious Programmer | Book</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body> 
        <nav class="page-header">
            <div class="header-items"><a href="{{ url_for('index') }}">Home</a></div> 
            <div class="header-items"><a href="{{ url_for('book_list') }}">Books</a></div>
            <div class="header-items"><a href="{{ url_for('authors') }}">Authors</a></div>
            <div class="header-items"><a href="{{ url_for('lists') }}">Lists</a></div>
            <div class="header-items"><a href="{{ url_for('users') }}">Users</a></div>
        </nav>

    <div>
        <div class="container">
            <div class="single-display">     
                <img src="{{ book.image_url }}">
                
                <div class="single-book-details">
                    <h2>{{ book.title }}</h2> 
                    <a class="single-book-author" href="{{ url_for('author', author_id=book.author_id) }}">
                        <h3>{{ book.author.display_name }}</h3>
                    </a>
                    <p class="book-summary-text">{{ book.summary }}</p> 
                </div>
        </div>
    </body>
</html>


