<!doctype html>
<html>
    <head>
        <title>Curious Programmer | Books</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body> 
        <nav class="page-header">
            <div class="header-items"><a href="{{ url_for('index') }}">Home</a></div> 
            <div class="header-items"><a href="{{ url_for('book_list') }}">Books</a></div>
            <div class="header-items"><a href="{{ url_for('authors') }}">Authors</a></div>
            <div class="header-items"><a href="{{ url_for('lists') }}">Lists</a></div>
            <div class="header-items"><a href="{{ url_for('users') }}">Users</a></div>
        </nav>
            
        <div>         
            <h1 class="page-title">Books</h1>
        </div>  

        <div>
            <div class="select-books">
                <form action="books" method="POST">
                    <select name="genre" id="genre" value="">
                        <label for="genre">Book Genre</label>
                        <option value=""></option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                    <button class="filter-button">Filter</button>
                </form>
            
                <div class="sort-books">
                    <a href="books?sort=title">By title |  </a>
                    <a href="books?sort=publication_year">By newest </a>
                   
                    <a href="books?page=2">Page 2</a>
                    <a href="books?page=3">Page 3</a>
                    <a href="books?page=4">Page 4</a>   
                </div>
            </div>
        </div>
    
        <div> 
            {% for book in books %}
                <div class="books-container">
                    <div class="books">    
                        <a href="{{ url_for('book', book_id=book.id) }}">
                            <h1>{{ book.title }}</h1>   
                        </a>

                        <a href=" {{ url_for('author', author_id=book.author_id) }}">
                            <h3 class="single-book-author" >{{ book.author.display_name }}</h2>
                        </a>
                        
                        <a href="{{ url_for('book', book_id=book.id) }}">
                            <img src="{{ book.image_url }}">
                        </a>
                    </div>
                </div>
                {% endfor %}         
            </div>
        </body>
    </html>