<!doctype html>
<html>
    <head>
        <title>Curious Programmer | Categories</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <nav class="page-header">
           <div class="header-items"><a href="{{ url_for('book_list') }}">Books</a></div>
           <div class="header-items"><a href="{{ url_for('authors') }}">Authors</a></div>
           <div class="header-items"><a href="{{ url_for('categories') }}">Categories</a></div>
           <div class="header-items"><a href="{{ url_for('users') }}">Users</a></div>
       </nav>


    <div>
       <h1>{{ category.category_name }}</h1>
        
       <div class="category-details">
        {% for book in category.books %}  
            <h2>
                <a href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}</a>
            </h2>
            <p>{{ book.summary }}</p>

            <a href="{{ url_for('book', book_id=book.id) }}">
                <img src="{{ book.image_url }}">
            </a>
        {% endfor %}
    </div>
    <div class="footer"></div>
</html>

