<html>
    <head>
        <title>Curious Programmer | Book Categories</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <nav class="page-header">
            <div class="header-items"><a href="{{ url_for('index') }}">Home</a></div> 
           <div class="header-items"><a href="{{ url_for('book_list') }}">Books</a></div>
           <div class="header-items"><a href="{{ url_for('authors') }}">Authors</a></div>
           <div class="header-items"><a href="{{ url_for('categories') }}">Categories</a></div>
           <div class="header-items"><a href="{{ url_for('users') }}">Users</a> </div>
       </nav>

    <div>  
        <h1>Categories of Books</h1>
        
        <div> 
            <div class="search-categories">
                <div class="sort-categories"> 
                    <form action="/categories" method="POST">    
                        <label for="name">Search by category: </label>    
                        <input type="text" name="category" id="category" required>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            

            <div>  
                <div class="filter-categories">
                    <a href="categories?category_level=Beginner">Beginner&nbsp&nbsp</a>
                    <a href="categories?category_level=Intermediate">Intermediate&nbsp&nbsp</a>
                    <a href="categories?category_level=Advanced">Advanced&nbsp&nbsp</a>
                    <a href="categories?sort=category_level">&nbsp&nbspSort all books</a>
                </div>
            </div>
            </div>
        
        <div>
            <div class="categories-container">
                {% for books in categories %}
                <div class="individual-category">
                    <a href="{{ url_for('category', category_id = books.category_id) }}" class="book-category">
                            {{ books.title }}     
                    </a>               
                    
                    {% endfor %}
                </div>
            </div> 
        </div>
    </body>
    <div class="footer"></div>
</html>
