<!doctype html>
<html>
    <head>
        <title>Curious Programmer | Users </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <nav class="page-header">
            <div class="header-items"><a href="{{ url_for('index') }}">Home</a></div> 
            <div class="header-items"><a href="{{ url_for('book_list') }}">Books</a></div>
            <div class="header-items"><a href="{{ url_for('authors') }}">Authors</a></div> 
            <div class="header-items"><a href="{{ url_for('lists') }}">Lists</a></div>
            <div class="header-items"><a href="{{ url_for('users') }}">Users</a></div>
        </nav>

        <div>
            <h1>
                Curious Programmer's Users
            </h1>
        </div>

        <div>
            <div class="container-user-name">
                <div class="username">
                {% for user_detail in user_object %}
                    <h1>{{ user_detail['name'] }}</h1>
                </div>

                <div>     
                    <ul class="basic-user-info">
                        <li>{{ user_detail['bio'] }} My favorite category is {{ user_detail['favorite_category'] }}.</li>
                        <li>Contact me: {{ user_detail['email'] }}</li>
                    </ul>
                </div>

                <div class="book-image">
                    {% for user_detail in user_object %}
                        {% for book in user_detail['details'] %}
                          <a href="{{ url_for('book', book_id=book['book_id']) }}">
                            <img src="{{book['image']}}">
                          </a>                         
                    {% endfor %}
                    {% endfor %}

                </div>         
                {% endfor %}
                
                </div>
            </div>
    </body>
</html>