/* * {
    box-sizing: border-box;
   } */


/*index.html // all pages use these attributes */
.page-header {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #990E16;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100px;
}

.header-items {
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    flex-basis: 2%;
}

.header-items a{
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

.header-items a:hover {
    text-decoration: underline;
    color: white;
}

.page-title {
    padding: 20px;
} 



/*books.html */ 
.books {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    align-items: flex-start;
}

.book-link-placement {
    padding-left: 2em;
    padding:5px;
}

.book-link-placement a{
    color: #990E16;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;

}

.book-link-placement a:hover{
    color: #990E16;
    text-decoration: underline;
}

.book-description {
    flex-basis: 50%;
    align-self: center;
    font-size: 16px;
}

/*authors and books have the same flexbox setup*/
.authors {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.book {
    flex-basis: 100%; 
    padding-bottom: 10px;
}
.author-name a{
    color: #990E16;
    text-decoration: none;
}

.author-name a:hover{
    color: #990E16;
    text-decoration: underline;

}










/*single_book.html */

.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
 
}

.item {
    list-style: none;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.item.title {

    color: #990E16;
    font-size: 25px;
}

.author {
    color: #990E16;
    font-size: 20px;
}



.image {
    margin:30px;
    padding-right: 10px;
    padding-left: 40px;

}