* {
    box-sizing: border-box;
   }


/*index.html // all pages use these attributes */
.page-header {
    background: #990E16;
    padding: 1.5em;
    width: 100%;
    display: inline-block;
}

.nav-item a {
    font-size: 25px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
    color: white;
}

.page-title {
    padding: 20px;
}

/*books.html */

.books {
    margin: 0;
    padding: 0;
    list-style: none;

}

.book-links a {
    font-size: 25px;
    font-weight: bold;
    color: #990E16;
    text-decoration: none; 
}

.book-links a:hover {
    color: #990E16;
    text-decoration: underline;
}

/*single_book.html */
.title {
    font-weight: bold;
    color: #990E16;
}

.author {
    font-weight: bold;
    color: #990E16;
}

.text {
    color: black; 
    font-size: 14px; 
}

.box {
    box-sizing: border-box;
    width: 50%;
    border: solid black 5px;
    padding: 5px;
}
