* {
    box-sizing: border-box;
   }


/*index.html // all pages use these attributes */
.page-header {
    background: #990E16;
    padding: 1.5em;
    width: 100%;

}

.page-header ul {
    
    padding-left: 0;
}

.page-header-link {
    display: inline-block;
}

.page-header-link a{
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

.page-header-link a:hover {
    text-decoration: underline;
    color: white;
}

.page-title {
    padding: 20px;
}


.footer {
    background: #990E16;
    padding: 3em 1.618em;
    width: 100%;  
    position: absolute;
}

.footer-index {
    background: #990E16;
    padding: 3em 1.618em;
    width: 100%;  
    bottom: 0;
    position: absolute;
}


/*authors*/
.names a{
    font-size: 25px;
    color: #990E16;
    text-decoration: none; 
}

.names a:hover {
    color: #990E16;
    text-decoration: underline;
}



/*books.html */

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;    
}

.books {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid black;
    padding: 20px;
    margin:10px;
}

.book-links a {
    font-size: 25px;
    font-weight: bold;
    color: #990E16;
    text-decoration: none; 
}

.book-links a:hover {
    color: #990E16;
    text-decoration: underline;
}

.text {
    color: black; 
    font-size: 18 px; 
}


/*single_book.html */

.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
 
}

.item {
    list-style: none;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.item.title {

    color: #990E16;
    font-size: 25px;
}

.author {
    color: #990E16;
    font-size: 20px;
}

.text {
    color: blac8 px;
    
}

.image {
    margin:30px;
    padding-right: 10px;
    padding-left: 40px;

}